.cartTray {
  position: fixed;
  padding: 30px 10px;
  text-align: center;
  box-sizing: border-box;
  top: 0;
  right: 0;
  width: 350px;
  height: 100vh;
  background-color: #050a30;
  color: white;
  transition: all 0.5s;
  z-index: 1200;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.CartBooks {
  overflow: hidden;
  width: 100%;
}
.exit_btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: transparent;
  font-size: 30px;
  color: white;
  font-weight: 900;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
}
.exit_btn:hover {
  color: orange;
  transform: scale(1.2);
}
.book {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
}
.leftItems_wrapper {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.book img {
  width: 70px;
  height: 100px;
}
.bookInfo {
  margin-left: 10px;
  text-align: left;
}
.bookInfo p:first-child {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 12px;
}
.bookInfo p:last-child {
  margin-top: 12px;
}
.stars {
  transform: scale(0.7) translateX(-20%);
}
.heading {
  font-size: 25px;
}
.removeItem_btn {
  border: none;
  background-color: transparent;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.2s;
  color: white;
}
.removeItem_btn:hover {
  transform: scale(1.2);
}

.removeItem_btn:focus {
  border: none;
}
.emptyStateImage_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.emptyStateImage_wrapper img {
  width: 100%;
}
.removeItem_btn img {
  width: 50px;
  height: 30px;
}
.borrowBooks {
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  background-color: #050a30;
  box-shadow: 0 -5px 5px -5px black;
}
.borrowBook_btn {
  padding: 10px 20px;
  background-color: white;
  color: #050a30;
  border: none;
  border-radius: 10px;
  transition: transform 0.4s;
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;
}

.borrowBook_btn:hover {
  transform: scale(1.3);
}
