.ReviewTray {
  position: fixed;
  padding: 30px 10px;
  box-sizing: border-box;
  top: 0;
  right: 0;
  width: 350px;
  height: 100vh;
  background-color: #050a30;
  color: white;
  transition: all 0.5s;
  z-index: 1500;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.exit_btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: transparent;
  font-size: 30px;
  color: white;
  font-weight: 900;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
}
.exit_btn:hover {
  color: orange;
  transform: scale(1.2);
}
.review_item {
  padding: 10px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  margin-top: 50px;
  box-sizing: border-box;
}
.reviewInfoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.reviewInfoWrapper p {
  margin: 0;
}
.review_feedback {
  font-size: 25px;
}
.loadingWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 400px) {
  .ReviewTray {
    width: 100%;
  }
}
