.cartTray {
  position: fixed;
  padding: 30px 10px;
  text-align: center;
  box-sizing: border-box;
  top: 0;
  right: 0;
  width: 350px;
  height: 100vh;
  background-color: #050a30;
  color: white;
  transition: all 0.5s;
  z-index: 1200;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.exit_btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: transparent;
  font-size: 30px;
  color: white;
  font-weight: 900;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
}
.exit_btn:hover {
  color: orange;
  transform: scale(1.2);
}
.bookCover {
  height: 178px;
  width: 128px;
  margin: 0 auto;
}

.bookCover img {
  width: 100%;
  height: 100%;
}
.bookInfo {
  text-align: center;
  margin-bottom: 20px;
}
.bookStatGrid {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.bookStat {
  text-align: center;
  border-right: solid lightgray 1px;
}

.bookStat:last-child {
  border: none;
}

.bookStat p {
  margin: 0 0 10px 0;
}

.stat {
  font-size: 20px;
  font-weight: 700;
}

.bookSummary {
  overflow-y: scroll;
  height: 250px;
  padding: 5px;
  box-sizing: border-box;
}
.bookSummary p {
  margin: 0;
}
.bookSummary::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.bookSummary::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.bookSummary::-webkit-scrollbar-thumb {
  background-color: #c9c8c8;
}
.bookSummary::-webkit-scrollbar-thumb:hover {
  background-color: #b3b2b2;
}

html::-webkit-scrollbar-track {
  background-color: #ffffff;
}

html::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

html::-webkit-scrollbar-thumb {
  background-color: #c9c8c8;
}
html::-webkit-scrollbar-thumb:hover {
  background-color: #b3b2b2;
}

@media only screen and (max-width: 400px) {
  .cartTray {
    width: 100%;
  }
}
