.Book {
  display: flex;
  height: 300px;
  /* background-color: chocolate; */
}
.Book img {
  width: 158px;
  height: 228px;
  border-radius: 10px;
  margin-right: 10px;
}
.Book h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
}

.buttons_wrapper {
  margin-top: 15px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5px;
}
.cart_btn {
  background-color: transparent;
  color: #ba0113;
  border-radius: 10px;
  border: solid 3px #ba0113;
  font-size: 20px;
  padding: 5px 0;
  font-weight: 900;
  cursor: pointer;
}
.favorite {
  border-radius: 10px;
  padding: 5px;
  background-color: #ba0113;
  color: white;
  border: none;
  font-weight: 900;
  font-size: 15px;
  cursor: pointer;
}
.cart_btn:hover {
  background-color: rgba(186, 1, 19, 0.5);
  color: white;
}
.title_preview {
  position: absolute;
  display: none;
  border: black solid 2px;
  background-color: white;
  padding: 5px;
}
.Book h1:hover + .title_preview {
  display: flex;
}

.titleWrapper {
  position: relative;
}
.genre {
  display: inline-block;
  padding: 5px;
  margin-top: 15px;
  font-weight: 900;
  text-transform: capitalize;
  background-color: lightgray;
  font-size: 15px;
  border-radius: 10px;
  color: white;
}
