.Book {
  display: flex;
  background-color: white;
}
.bookCoverWrapper {
  position: relative;
  width: 158px;
  height: 228px;
  margin-right: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.bookCoverWrapper img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.5s;
}
.numberOfReviews {
  cursor: pointer;
  transition: transform 0.3s;
  font-weight: 900;
}
.numberOfReviews:hover {
  color: orange;
  transform: scale(1.3);
}
.bookCoverWrapper img:hover {
  transform: scale(1.2);
}
.starRatingWrapper {
  display: flex;
  align-items: center;
}
.starRatingWrapper p {
  margin: 0;
}
.Book h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
}

.buttons_wrapper {
  margin-top: 15px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5px;
}
.cart_btn {
  background-color: transparent;
  color: #ba0113;
  border-radius: 10px;
  border: solid 3px #ba0113;
  font-size: 20px;
  padding: 5px 0;
  font-weight: 900;
  cursor: pointer;
  box-sizing: border-box;
}
.cart_btn:disabled {
  color: lightgray;
  border: solid 3px lightgray;
  cursor: not-allowed;
}
.favorite {
  border-radius: 10px;
  padding: 5px;
  background-color: #ba0113;
  color: white;
  border: none;
  font-weight: 900;
  font-size: 15px;
  cursor: pointer;
}
.cart_btn:hover {
  background-color: rgba(186, 1, 19, 0.5);
  color: white;
}
.title_preview {
  position: absolute;
  display: none;
  border: black solid 2px;
  background-color: white;
  padding: 5px;
}
.Book h1:hover + .title_preview {
  display: flex;
}

.titleWrapper {
  position: relative;
}
.genre {
  display: inline-block;
  padding: 5px;
  margin-top: 15px;
  font-weight: 900;
  text-transform: capitalize;
  background-color: lightgray;
  font-size: 15px;
  border-radius: 10px;
  color: white;
}
.availabilityState {
  position: absolute;
  text-align: center;
  font-weight: 900;
  width: 100%;
  color: white;
  background-color: chartreuse;
  padding: 10px 0;
}
.bookCoverWrapper {
  background-color: lightgray;
}

@media only screen and (max-width: 960px) {
  /*Tablets [601px -> 1200px]*/
  .bookCoverWrapper {
    width: 50%;
    height: 320px;
  }
  .Book h1 {
    font-size: 30px;
  }
  .genre {
    margin-top: 25px;
    font-size: 20px;
  }
  .author {
    margin: 25px 0 25px 0;
    font-size: 20px;
  }
}
@media only screen and (max-width: 700px) {
  /*Big smartphones [426px -> 600px]*/
  .bookCoverWrapper {
    margin-right: 30px;
  }
  .bookCoverWrapper {
    width: 50%;
    height: 390px;
  }
  .Book h1 {
    font-size: 40px;
  }
  .genre {
    margin-top: 25px;
    font-size: 30px;
  }
  .author {
    margin: 25px 0 25px 0;
    font-size: 30px;
  }
  .cart_btn {
    font-size: 20px;
  }
  .favorite {
    font-size: 20px;
  }
}
@media only screen and (max-width: 550px) {
  /*Big smartphones [426px -> 600px]*/
  .bookCoverWrapper {
    margin-right: 30px;
  }
  .bookCoverWrapper {
    width: 50%;
    height: 370px;
  }
  .Book h1 {
    font-size: 30px;
  }
  .genre {
    margin-top: 25px;
    font-size: 20px;
  }
  .author {
    margin: 25px 0 25px 0;
    font-size: 20px;
  }
  .cart_btn {
    font-size: 20px;
  }
  .favorite {
    font-size: 20px;
  }
}
@media only screen and (max-width: 450px) {
  /*Small smartphones [325px -> 425px]*/

  .genre {
    margin-top: 20px;
  }
  .author {
    margin: 20px 0 20px 0;
  }
  .bookCoverWrapper {
    margin-right: 10px;
    height: 310px;
  }
}
@media only screen and (max-width: 400px) {
  /*Small smartphones [325px -> 425px]*/

  .Book {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);

    /* background-color: chocolate; */
  }

  .bookCoverWrapper {
    width: 100%;
    height: 450px;
  }

  .Book h1 {
    font-size: 20px;
  }
  .genre {
    margin-top: 20px;
    font-size: 17px;
  }
  .author {
    margin: 20px 0 20px 0;
    font-size: 17px;
  }
  .bookInfo {
    text-align: center;
  }

  .buttons_wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin-top: 0;
  }
  .cart_btn {
    padding: 10px 20px;
    font-size: 20px;
    color: #050a30;
    border: solid 3px #050a30;
  }
  .favorite {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #050a30;
  }
  .starRatingWrapper {
    justify-content: center;
  }
}
