.Home {
  display: flex;
  width: 100%;
  min-height: 120vh;
}
.left_pane {
  position: fixed;
  width: 20%;
  height: 100vh;
  background-color: #050a30;
  padding: 20px;
  box-sizing: border-box;
}
.right_pane {
  position: relative;
  width: 80%;
  height: 100vh;
  margin-left: 20%;
  padding-bottom: 0;
  box-sizing: border-box;
}
.tab_buttons {
  list-style: none;
  padding: 0;
  margin-top: 50px;
  margin-left: -20px;
}

.tab_button {
  width: 100%;
  padding: 20px 0;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 700;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 0px 20px 20px 0;
  cursor: pointer;
  align-items: center;
}
.tab_button:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: #050a30;
}
.wrapper {
  display: flex;
  align-items: center;
}
.active,
.tab_button:focus {
  background-color: white;
  color: #050a30;
}

.logOut {
  display: flex;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  margin: 0 auto;
  color: white;
  border: white 2px solid;
}
.Cart {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.Cart:hover {
  transform: scale(1.2);
}

.navBar {
  position: fixed;
  top: 0;
  width: calc(80%);
  padding: 20px;
  height: 80px;
  box-sizing: border-box;
  background-color: white;
  /* background-color: rgba(255, 0, 0, 0.2); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
.searchBar {
  padding: 15px 30px 15px 40px;
  border-radius: 10px;
  width: 100%;
  border: none;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}
.search_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.scroll {
  box-shadow: 0px 11px 9px -10px rgb(64 60 67 / 16%);
}
.searchBar:focus {
  outline: none;
}
.search {
  width: 20px;
  height: 20px;
}
.searchBar_wrapper {
  position: relative;
  width: 300px;
}
.profileWrapper {
  display: flex;
  align-items: center;
}
.userProfile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.userProfile img {
  width: 100%;
  height: 100%;
}
.cartWrapper {
  position: relative;
}
.cartCount {
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: red;
  color: white;
  font-weight: 900;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ModalContent {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;
  font-size: 20px;
}
.ModalContent img {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}
.loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 50px;
  background-color: white;
  font-size: 20px;
}
.loading p {
  margin-left: 10px;
}
.searchResults_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  background-color: tomato;
}

.resultsWrapper {
  position: fixed;
  z-index: 1000;
  width: 80%;
  padding: 20px;
  margin-top: 80px;
  background-color: #f7f7f7;
  box-shadow: 0px 11px 9px -10px rgb(64 60 67 / 16%);
  box-sizing: border-box;
  height: calc(100vh - 80px);
}
.exit_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  font-size: 30px;
  color: black;
  font-weight: 900;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
}
.exit_btn:hover {
  color: orange;
  transform: scale(1.2);
}
@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
  .left_pane {
    display: none;
  }
  .right_pane {
    width: 100%;
    margin-left: 0;
  }
  .navBar {
    width: 100%;
  }
  .resultsWrapper {
    width: 100%;
  }
  .searchResults_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 900px) {
  /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 700px) {
  /*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 500px) {
  /*Small smartphones [325px -> 425px]*/
}
@media only screen and (max-width: 400px) {
  .searchResults_wrapper {
    grid-template-columns: repeat(1, 1fr);
    overflow-y: scroll;
    background-color: tomato;
    height: 90%;
  }
}
