.Favorites {
  position: relative;
  padding: 20px;
  margin-top: 80px;
  background-color: #f7f7f7;
  min-height: calc(120vh - 80px);
}
.Favorites hr {
  border-top: 2px solid hsl(0, 0%, 47%);
}
.favorite_item {
  display: flex;
  align-items: top;
  width: 100%;
  height: 190px;
  margin-bottom: 10px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  box-sizing: border-box;
}
.favorite_item:last-child {
  margin-bottom: 0;
}
.favorite_item img {
  width: 120px;
  height: 100%;
}
.description {
  margin-left: 20px;
}
.description h4 {
  margin: 0 0 5px 0;
  font-size: 25px;
}

.Author {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-style: italic;
}
.bookSummary {
  margin: 0;
}
.btn_wrapper {
  display: flex;
  align-items: center;
  width: 100px;
}

.btn_wrapper i:first-child {
}
.Favorites_wrapper {
  margin-top: 50px;
}

.share,
.delete {
  background-color: transparent;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 25px;
  margin-right: 10px;
  color: #cccbcb;
}

.share:hover,
.delete:hover {
  transform: scale(1.2);
  color: gray;
}
.loadingWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  .favorite_item {
    flex-direction: column;
    text-align: center;
    height: auto;
    margin-bottom: 20px;
  }
  .favorite_item img {
    width: 50%;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .btn_wrapper {
    margin: 0 auto;
  }
  .share,
  .delete {
    font-size: 30px;
    margin-right: 20px;
    margin-top: 20px;
    color: #cccbcb;
  }
}

@media only screen and (max-width: 900px) {
  /*Big smartphones [426px -> 600px]*/
  .favorite_item {
    height: auto;
  }
}
@media only screen and (max-width: 500px) {
  /*Big smartphones [426px -> 600px]*/
  .favorite_item img {
    width: 70%;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 500px) {
  /*Big smartphones [426px -> 600px]*/
  .favorite_item img {
    width: 188px;
    height: 258px;
    border-radius: 10px;
  }
}
