.Favorites {
  position: relative;
  padding: 20px;
  margin-top: 80px;
  background-color: #f7f7f7;
  min-height: calc(120vh - 80px);
}
.Favorites hr {
  border-top: 2px solid hsl(0, 0%, 47%);
}
.favorite_item {
  display: flex;
  align-items: top;
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  background-color: white;

  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}
.favorite_item:last-child {
  margin-bottom: 0;
}
.favorite_item img {
  width: 120px;
  height: 100%;
}
.description {
  margin-left: 20px;
}
.description h4 {
  margin: 0 0 5px 0;
  font-size: 25px;
}

.Author {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-style: italic;
}
.bookSummary {
  margin: 0;
}
.btn_wrapper {
  display: flex;
  align-items: center;
  width: 100px;
}

.btn_wrapper i:first-child {
}
.Favorites_wrapper {
  margin-top: 50px;
}

.share,
.delete {
  background-color: transparent;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 25px;
  margin-right: 10px;
  color: #cccbcb;
}

.share:hover,
.delete:hover {
  transform: scale(1.2);
  color: gray;
}
.emptyStateWrapper {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.emptyStateWrapper img {
  display: flex;
  width: 400px;
  margin: 0 auto;
}
.emptyStateWrapper p {
  text-align: center;
  font-size: 25px;
}
