.bookInfoCard {
  width: 100%;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
}
.bookInfoCard p {
  font-size: 20px;
  color: #050a30;
  font-weight: 700;
}
.bookInfoCard p span {
  font-size: 17px;
  font-weight: normal;
  color: black;
  font-style: italic;
}
.bookInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
  box-sizing: border-box;
}
.bookInfoCards {
  display: flex;
  height: 180px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  padding: 10px;
  border-radius: 10px;
}
.bookInfoCard {
  margin-bottom: 20px;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}
.bookInfoCard:last-child {
  margin-bottom: 0;
}
.bookInfoCards img {
  margin-right: 20px;
  width: 40%;
  height: 100%;
}
.bookInfoCards h4 {
  padding: 0;
  font-size: 20px;
  margin: 0 0 20px 0;
}
.returnButton {
  padding: 10px 20px;
  font-weight: 900;
  background-color: #050a30;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.loadingWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.timeLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.timeLeft p:first-child {
  font-size: 20px;
  color: #050a30;
  font-weight: 700;
  margin: 0 5px 0 0;
  padding: 0;
}
@media only screen and (max-width: 1300px) {
  /*Big smartphones [426px -> 600px]*/
  .bookInfo {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 720px) {
  /*Big smartphones [426px -> 600px]*/

  .bookInfo {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 400px) {
  /*Big smartphones [426px -> 600px]*/

  .bookInfoCards {
    flex-direction: column;
    height: auto;
  }
  .right_side {
    text-align: center;
  }
  .bookInfoCards img {
    margin: 0 auto 20px auto;
    width: 188px;
    height: 258px;
    border-radius: 10px;
  }
  .bookInfoCard p {
    font-size: 15px;
  }
  .bookInfoCard p span {
    font-size: 12px;
  }
  .timeLeft p:first-child {
    font-size: 15px;
  }
}
