.Login {
  display: flex;
  height: 100vh;
}
.right_side,
.left_side {
  height: 100%;
}
.left_side {
  position: relative;

  width: 35%;
  padding: 50px;
  box-sizing: border-box;
}
.right_side {
  width: 65%;
  /* background-image: url("https://images.unsplash.com/photo-1597167100957-1dfa110c1c14?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1016&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: black;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  animation: slider 50s linear infinite;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  visibility: hidden;
  opacity: 0;
}
.slide:nth-child(1) {
  animation-delay: 0s;
}
.slide:nth-child(2) {
  animation-delay: 10s;
}
.slide:nth-child(3) {
  animation-delay: 20s;
}
.slide:nth-child(4) {
  animation-delay: 30s;
}
.slide:nth-child(5) {
  animation-delay: 40s;
}
@keyframes slider {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  2% {
    visibility: visible;
    opacity: 1;
  }
  18% {
    visibility: visible;
    opacity: 1;
  }
  20%,
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

.slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content {
  position: absolute;
  top: 70%;
  left: 50px;
  max-width: 900px;
  transform: translateY(-50%);
  z-index: 700;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  backdrop-filter: blur(10px);
  padding: 30px;
  box-sizing: border-box;
}
.content p {
  font-size: 20px;
}
.content p:last-child {
  font-size: 22px;
  font-style: italic;
}
.Form_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 400px;
  /* background-color: bisque; */
  padding: 0 50px;
}
.Form {
  /* background-color: red; */
}
.Form h1 {
  margin: 0;
  padding: 0;
}
.form_input {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}
.form_input:last-child {
  margin-bottom: 0;
}
.form_input i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #999;
}
.form_input i:last-child {
  left: calc(100% - 30px);
  cursor: pointer;
}
.form_input i:last-child:hover {
  color: #050a30;
}
.form_input:last-child {
  margin-bottom: 0;
}
.form_input input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 30px;
  height: 100%;
  font-size: 15px;
  /* color: lightgray; */
  outline: none;
  border: 1px #a79e9e solid;
}
.Form_wrapper form {
  margin-top: 50px;
  /* background-color: blue; */
}
.siteDescription {
  color: #a79e9e;
}
.login {
  background-color: #050a30;
  color: white;
  border: none;
  width: 100%;
  padding: 10px 0;
  font-weight: 900;
  cursor: pointer;
}
.login:hover {
  background-color: #0f1963;
}
.admin {
  background-color: transparent;
  border: 3px solid #050a30;
  color: #050a30;
  width: 100%;
  padding: 7px 0;
  font-weight: 900;
  margin-top: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.admin:hover {
  background-color: #0f1963;
  color: white;
}
.form_item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}

.form_item input:last-child {
  margin-right: 0;
}
.admin i {
  color: #0000ff;
  margin-right: 7px;
  font-size: 20px;
}

.question {
  display: flex;
  align-items: center;
}

.logIn_link {
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 5px;
  text-decoration: underline;
  cursor: pointer;
}

.logIn_link:hover {
  color: orangered;
}
.checkBox_Wrapper {
  display: flex;
  align-items: calc();
  margin-bottom: 20px;
}

.checkBox_Wrapper input {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.checkBox_Wrapper label {
  font-size: 15px;
}
