.Loans_wrapper {
  position: relative;
  padding: 20px;
  margin-top: 80px;
  background-color: hsl(0, 0%, 97%);
  min-height: calc(120vh - 80px);
  box-sizing: border-box;
}
.BookLoan {
  width: 100%;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
}
.BookLoan p {
  font-size: 20px;
  color: #050a30;
  font-weight: 700;
}
.BookLoan span {
  font-size: 17px;
  font-weight: normal;
  color: black;
  font-style: italic;
}
.loanedBooks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
  box-sizing: border-box;
}
.bookLoans {
  display: flex;
  height: 200px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}
.BookLoan {
  margin-bottom: 20px;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}
.BookLoan:last-child {
  margin-bottom: 0;
}
.bookLoans img {
  margin-right: 20px;
  width: 40%;
  height: 100%;
}
.bookLoans h4 {
  padding: 0;
  font-size: 20px;
  margin: 0 0 20px 0;
}
.returnButton {
  padding: 5px 10px;
  font-weight: 900;
  background-color: #050a30;
  color: white;
  border: none;
}
.loadingWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
