.books {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.tabs_wrapper {
  list-style: none;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  padding-left: 0;
}

.gutter {
  margin-top: 100px;
  background-color: white;
  width: 100%;
}

.tab_buttons {
  background-color: transparent;
  font-size: 17px;
  font-weight: 700;
  margin-right: 10px;
  border: none;
  padding: 2px 5px;
  cursor: pointer;
  border-radius: 10px;
  box-sizing: border-box;
}

.tab_buttons:focus {
  outline: none;
}
.tab_buttons:hover {
  background-color: #f12237;
  color: white;
}

.active,
.tab_buttons:focus {
  background-color: #ba0113;
  color: white;
}
.books_wrapper {
  width: 100%;
}
.grid_wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.loadingWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid_wrapper {
  position: relative;
  min-height: 300px;
}

@media only screen and (max-width: 960px) {
  /*Tablets [601px -> 1200px]*/
  .grid_wrapper {
    grid-template-columns: repeat(2, 1fr);

    grid-gap: 10px;
  }
}
@media only screen and (max-width: 700px) {
  /*Big smartphones [426px -> 600px]*/
  .grid_wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
}
@media only screen and (max-width: 400px) {
  /*Small smartphones [325px -> 425px]*/
  .books {
    background-color: hsl(0, 0%, 97%);
    padding: 10px;
  }
  .grid_wrapper {
    grid-gap: 30px;
  }
  .gutter {
    background-color: transparent;
  }
}

@media only screen and (max-width: 360px) {
  /*Big smartphones [426px -> 600px]*/
  .tabs_wrapper {
    flex-wrap: wrap;
    text-align: center;
  }
}
