.books {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.tabs_wrapper {
  list-style: none;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  padding-left: 0;
}
.gutter {
  margin-top: 100px;
  background-color: white;
  width: 100%;
}

.tab_buttons {
  background-color: transparent;
  font-size: 17px;
  font-weight: 700;
  margin-right: 10px;
  border: none;
  padding: 2px 5px;
  cursor: pointer;
  border-radius: 10px;
  box-sizing: border-box;
}

.tab_buttons:focus {
  outline: none;
}
.tab_buttons:hover {
  background-color: #f12237;
  color: white;
}

.active,
.tab_buttons:focus {
  background-color: #ba0113;
  color: white;
}
.books_wrapper {
  width: 100%;
  /* 
  background-color: yellowgreen; */
}
.grid_wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.loadingWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid_wrapper {
  position: relative;
  min-height: 300px;
}
