.books {
  width: 100%;
}
.tabs_wrapper {
  list-style: none;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  padding-left: 0;
}
.gutter {
  margin-top: 100px;
  background-color: white;
  width: 100%;
}

.tab_buttons {
  background-color: transparent;
  font-size: 17px;
  font-weight: 700;
  margin-right: 10px;
  border: none;
  padding: 2px 5px;
  cursor: pointer;
  border-radius: 10px;
  box-sizing: border-box;
}

.tab_buttons:focus {
  outline: none;
}
.tab_buttons:hover {
  background-color: pink;
  color: white;
}

.active,
.tab_buttons:focus {
  background-color: #ef5da8;
  color: white;
}
.books_wrapper {
  width: 100%;
  /* 
  background-color: yellowgreen; */
}
.grid_wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid_item {
  display: flex;
  height: 300px;
  /* background-color: chocolate; */
}
.grid_item img {
  width: 178px;
  height: 248px;
  border-radius: 10px;
  margin-right: 10px;
}
.grid_item h1 {
  margin: 0;
  font-size: 30px;
  font-weight: 900;
}
.grid_item p {
  margin-top: 7px;
  font-size: 20px;
}
.checked {
  color: gold;
}
