.Rectangle1 {
  width: 20px;
  height: 20px;
  background: #050a30;
  border-radius: 0px 20px 20px 0px;
  transform: rotate(-180deg);
}
.Rectangle2 {
  width: 20px;
  height: 20px;
  border: 5px solid #050a30;
  box-sizing: border-box;
  border-radius: 0px 20px 20px 0px;
}
.Logo_wrapper {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.Logo {
  display: flex;
  align-items: center;
}
.Logo_text {
  color: #050a30;
  font-size: 25px;
  font-weight: 900;
}
